<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<body>
	<div th:fragment="form_cad_grade" id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<br>
			</div>

		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">

				<div class="panel panel-default">
					<div class="panel-heading" th:text="#{labelGrade}"></div>
					<div class="panel-body">

						<form th:object="${grade}" action="/cad_grade"
							th:action="@{/cad_grade}" method="post" role="form">
							<div class="row">
								<div class="col-lg-12">
									<div class="form-group">
										<label th:text="#{labelGradeDescription}"></label><input class="form-control"
											th:field="*{description}">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-group">
										<button type="submit" class="btn btn-default">Salvar</button>
										<button type="reset" class="btn btn-default">Limpar</button>
									</div>
								</div>
							</div>
							<div th:include="${dataTable}::${dataTable}" class="row"></div>
							<!-- <div th:include="panel_collapse_role::panel_collapse_role"
									class="panel panel-default"></div> -->
						</form>
					</div>
				</div>
				<!-- /.row (nested) -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</body>
</html>