<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<body>
	<div th:fragment="form_cad_parent_subsid" id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<br>
			</div>

		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading" th:text="#{labelCadSubsid}"></div>
					<div th:if="${status == '0'}"
						class="alert alert-success alert-dismissable">
						<button type="button" class="close" data-dismiss="alert"
							aria-hidden="true">&times;</button>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a
							href="#" class="alert-link">Alert Link</a>.
					</div>
					<!-- .panel-heading -->
					<div class="panel-body">
						<form action="/cad_parent_subsid"
							th:action="@{/cad_parent_subsid}" method="post" role="form">
							<div class="panel-group" id="accordion">
								<!-- <label>Escola:</label> -->
								<div class="panel panel-default">
									<select class="form-control" th:field="*{school.idSchool}">
										<option th:value=0>Escola:</option>
										<option th:each="school : ${schools}"
											th:value="${school.idSchool}" th:text="${school.name}"></option>
									</select>
									<!-- <br> -->
								</div>

								<div th:include="panel_collapse_filial::panel_collapse_filial"
									class="panel panel-default"></div>
								<!-- <br> -->
								<div th:include="panel_collapse_adress::panel_collapse_adress"
									class="panel panel-default"></div>
								<!-- <br> -->
								<div th:include="panel_collapse_contact::panel_collapse_contact"
									class="panel panel-default"></div>
							</div>
							<button type="submit" class="btn btn-default">Salvar</button>
							<button type="reset" class="btn btn-default">Limpar</button>
						</form>
					</div>
					<!-- .panel-body -->
				</div>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
	</div>
</body>
</html>