<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<body>
	<div th:fragment="form_cad_classe" id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<br>
			</div>

		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">

				<div class="panel panel-default">
					<div class="panel-heading" th:text="#{labelClasse}"></div>
					<div class="panel-body">

						<form th:object="${classe}" action="/cad_classe"
							th:action="@{/cad_classe}" method="post" role="form">
							<div class="panel panel-default">
									<select class="form-control" th:field="*{grade.idGrade}">
										<option th:value=0>Série:</option>
										<option th:each="grade : ${grades}"
											th:value="${grade.idGrade}" th:text="${grade.description}"></option>
									</select>
									<!-- <br> -->
								</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-group">
										<label th:text="#{labelClasseDescription}"></label><input class="form-control"
											th:field="*{description}">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-group">
										<button type="submit" class="btn btn-default">Salvar</button>
										<button type="reset" class="btn btn-default">Limpar</button>
									</div>
								</div>
							</div>
							<div th:include="${dataTable}::${dataTable}" class="row"></div>
							<!-- <div th:include="panel_collapse_role::panel_collapse_role"
									class="panel panel-default"></div> -->
						</form>
					</div>
				</div>
				<!-- /.row (nested) -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</body>
</html>