<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<body>
	<div th:fragment="form_cad_school" id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<br>
			</div>

		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading" th:text="#{labelCadSchool}"></div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form th:object="${school}" action="/save_school"
									th:action="@{/save_school}" method="post" role="form">
									<div class="form-group">
										<span class="image avatar48"><img
											src="images/CEAS.jpg" alt="" /></span><input type="file" th:field="*{logo}">
									</div>
									<div class="form-group">
										<label th:text="#{labelSchoolName}"></label> <input class="form-control"
											th:field="*{name}">
									</div>
									<button type="submit" class="btn btn-default" th:text="#{labelSaveScreen}"></button>
									<button type="reset" class="btn btn-default" th:text="#{labelCleanScreen}"></button>
								</form>
							</div>
						</div>
						<!-- /.row (nested) -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
	</div>
</body>
</html>