<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<body>
	<div th:fragment="form_cad_screen" id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<br>
			</div>

		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">

				<div class="panel panel-default">
					<div class="panel-heading" th:text="#{labelHeadingScreen}"></div>
					<div class="panel-body">

						<form th:object="${screen}" action="/cad_screen"
							th:action="@{/cad_screen}" method="post" role="form">
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label th:text="#{labelKeyScreen}"></label><input class="form-control"
											th:field="*{keyScreen}">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label th:text="#{labelUrlScreen}"></label><input class="form-control"
											th:field="*{url}">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-3">
									<div class="form-group">
										<label th:text="#{labelForm}"></label><input class="form-control"
											th:field="*{form}">
									</div>
								</div>
								<div class="col-lg-3">
									<div class="form-group">
										<label th:text="#{labelDataTable}"></label><input class="form-control"
											th:field="*{dataTable}">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label th:text="#{labelPanelCollapse}"></label><input class="form-control"
											th:field="*{panelCollapse}">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-group">
										<button type="submit" class="btn btn-default" th:text="#{labelSaveScreen}"></button>
										<button type="reset" class="btn btn-default" th:text="#{labelCleanScreen}"></button>
									</div>
								</div>
							</div>
							<div th:include="${dataTable}::${dataTable}" class="row"></div>
						</form>
					</div>
				</div>
				<!-- /.row (nested) -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</body>
</html>