<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Sign-Up/Login Form</title>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" href="css/normalize.min.css"/>
      <link rel="stylesheet" href="css/style.css"/> 
</head>

<body>
  <div class="form">
      
      <ul class="tab-group">
      	<li class="tab active"><a href="#login">Log In</a></li>
        <li class="tab"><a href="#signup">Sign Up</a></li>
      </ul>
      
      <div class="tab-content">
        
        <div id="login">   
          <h1>Welcome Back!</h1>
          
          <form th:object="${user}" th:action="@{/login}" method="POST">
          
            <div class="field-wrap">
            <!-- <label>
              Email<span class="req">*</span>
            </label> -->
            <input type="text" id="email" name="email"  th:placeholder="Email" autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <!-- <label>
              Password<span class="req">*</span>
            </label> -->
            <input type="password"  th:placeholder="Password"
				id="password" name="password" autocomplete="off"/>
          </div>
          
          <p class="forgot"><a href="#">Forgot Password?</a></p>
          
          <button type="Submit" name="Submit" th:text="Login" class="button button-block">Log In</button>
          
          </form>

        </div>
        
        <div id="signup">   
          <h1>Sign Up for Free</h1>
          
          <form action="/registration" th:action="@{/registration}" method="post" role="form">
          
          <div class="top-row">
            <div class="field-wrap">
              <label>
                First Name<span class="req">*</span>
              </label>
              <!-- <input type="text" required autocomplete="off" /> -->
              <input type="text" th:field="*{user.name}" autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <label>
                Last Name<span class="req">*</span>
              </label>
              <!-- <input type="text" required autocomplete="off" /> -->
              <input type="text" autocomplete="off"/>
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email" th:field="*{contact.email}" autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Set A Password<span class="req">*</span>
            </label>
            <input type="password" th:field="*{user.password}" autocomplete="off"/>
          </div>
          
          <button type="submit" class="button button-block">Get Started</button>
          
          </form>

        </div>
        
      </div><!-- tab-content -->
      
</div> <!-- /form -->
  <script src="assets/js/jquery.min.js"></script>

    <script src="js/index.js"></script>

</body>
</html>
