<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<body>
	<!-- /.row -->
	<div th:fragment="table_screen" class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<!-- /.panel-heading -->
				<div class="panel-body">
					<table width="100%"
						class="table table-striped table-bordered table-hover"
						id="dataTables-example">
						<thead>
							<tr>
								<th th:text="#{labelIdScreen}"></th>
								<th th:text="#{labelTableKeyScreen}"></th>
								<th th:text="#{labelUrl}"></th>
								<th th:text="#{labelForm}"></th>
								<th th:text="#{labelDataTable}"></th>
								<th th:text="#{labelPanelCollapse}"></th>
							</tr>
						</thead>
						<tbody>
							<tr class="odd gradeX" th:each="screen : ${screens}">
								<td class="center" th:text="${screen.idScreen}"></td>
								<td class="center" th:text="${screen.keyScreen}"></td>
								<td class="center" th:text="${screen.url}"></td>
								<td class="center" th:text="${screen.form}"></td>
								<td class="center" th:text="${screen.dataTable}"></td>
								<td class="center" th:text="${screen.panelCollapse}"></td>
							</tr>

						</tbody>
					</table>
					<!-- /.table-responsive -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
</body>
</html>