<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<body>
	<!-- /.row -->
	<div th:fragment="table_grade" class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<!-- /.panel-heading -->
				<div class="panel-body">
					<table width="100%"
						class="table table-striped table-bordered table-hover"
						id="dataTables-example">
						<thead>
							<tr>
								<th th:text="#{labelId}"></th>
								<th th:text="#{labelGradeDescription}"></th>
							</tr>
						</thead>
						<tbody>
							<tr class="odd gradeX" th:each="grade : ${grades}">
								<td class="center" th:text="${grade.idGrade}"></td>
								<td class="center" th:text="${grade.description}"></td>
							</tr>

						</tbody>
					</table>
					<!-- /.table-responsive -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
</body>
</html>