<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<body>
	<!-- /.row -->
	<div th:fragment="table_role_profile" class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<!-- /.panel-heading -->
				<div class="panel-body">
					<table width="100%"
						class="table table-striped table-bordered table-hover"
						id="dataTables-example">
						<thead>
							<tr>
								<th>Seleção</th>
								<th>ID</th>
								<th>Funcionalidade</th>
								<th>Descrição</th>
							</tr>
						</thead>
						<tbody>
							<tr class="odd gradeX" th:each="role : ${roles}">
								<!-- <td>
							          <input type="checkbox" th:field="*{roles[__${role.index}__].checkbox}" />
							          <input type="hidden" th:field="*{roles[__${role.index}__].idRole}" />
							          <input type="hidden" th:field="*{roles[__${role.index}__].functionality}" />
							          <input type="hidden" th:field="*{roles[__${role.index}__].description}" />
							    </td> -->
								<td class="center"><input name="checkbox" type="checkbox" th:checked="${role.checkbox}" th:value="${role.idRole}"></td>
								<td class="center" th:text="${role.idRole}"></td>
								<td class="center" th:text="${role.functionality}"></td>
								<td class="center" th:text="${role.description}"></td>
							</tr>

						</tbody>
					</table>
					<!-- /.table-responsive -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
</body>
</html>